.con__grilla{
    display: grid;
    grid-template-rows: 130px 1fr 70px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "head head head"
                         "ma ma ma"
                         "foo foo foo";
}

.con__header{
    grid-area: head;
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    .con__div{
        @include indtitulo;
        margin-left: 15px;
        .con__titulo{
            font-size: $titulo;
            font-family: $antontitulo;
            text-shadow: 5px 5px 5px $colorbase;
            .con__srl{
                color: $negro;
            }
        }
        .con__diamante{
            @include diamante;
        }
    }
    .con__nav{
        display:flex;
        align-items: center;
        .con__ul{
            display: flex;
            text-align: center;
            .links_uno{
                @include btnheader;
            }
            .links_uno:hover{
                @include btnhover;
            }
            .links_dos{
                @include btnheader;
            }
            .links_dos:hover{
                @include btnhover;
            }
            .links_tres{
                @include btnheader;
            }
            .links_tres:hover{
                @include btnhover;
            }
            .links_cuatro{
                @include btnheader;
                border-bottom: solid 4px black;
            }
            .links_cuatro:hover{
                @include btnhover;
            }
        }
    }
}

.con__main{
    grid-area: ma;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .con__h1{
        display: flex;
        justify-content: center;
        background-color: $colorbase;
        font-family: $roboto400;
        font-size: $subtitulos;
    }
    .con__div-central{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        .con__form{
            width: 500px;
            height: 450px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: start;
            color: $negro;
            
            .con__fieldset{
                background-color: $colorbase; 
                height: 380px;
                width: 400px;
                border-radius: 6px;
                box-shadow: 2px 2px 3px black;
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                .con__nom{
                    font-family: $roboto400;
                    font-size: 16px;
                }
                .con__inp{
                    width: 300px;
                    border-radius: 6px;
                }
                .comentarios{
                    width: 300px;
                    height: 50px;
                    border-radius: 6px;
                }

                .divbtn{
                    display: flex;
                    justify-content: space-evenly;
                    margin-bottom: 10px;
                    .boton1{ 
                        @include btncompra;
                        font-family:$roboto400;
                        width: 90px;
                        height: 30px;
                    }
                    .boton1:hover{
                        @include btncompra;
                        color: $negro;
                        background-color: $colorbase;
                        width: 90px;
                        height: 30px;
                    }

                    .boton2{
                        @include btncompra;
                        font-family:$roboto400;
                        width: 90px;
                        height: 30px;
                    }
                    .boton2:hover{
                        @include btncompra;
                        color: $negro;
                        background-color: $colorbase;
                        width: 90px;
                        height: 30px;
                    }
                }

            }
        }
        .con__maps{
            width: 400px;
            height: 380px;
            display: flex;
            align-items: center;
            text-align: center;
            flex-direction: column;
            border: solid 1px $negro;
            background-color: $colorbase;
            border-radius: 6px;
            box-shadow: 2px 2px 3px black;
            .ubi{
                font-family: $roboto400;
                margin-bottom: 30px;
            }
        }
    }
}

.con__footer{
    grid-area: foo;
    padding-top: 8px;
    padding-bottom: 8px;
    @include foo;
    .con__add{
        @include add;
        .con__div-a{
            display: flex;
            align-items: center;
            .con__tituloa{
                @include fottitulo;
            }
            .con--link{
                @include link;
                .con_link-logo{
                    @include logo;
                }
            }
        }
        .con__div-b{
            display: flex;
            align-items: center;
            .con__titulob{
                @include fottitulo;
                }
            .con--link{
                @include link;
                .con_link-logo{
                    @include logo;
                }
            }
        }
    }
}
/*DESTOK FIRTS*/