.grilla__cre {
    display: grid;
    grid-template-rows: 140px 1fr 100px;
    grid-template-columns:1fr 1fr 1fr ;
    grid-template-areas:"pa pa pa"
                        "po po po"
                        "pi pi pi";
}

.crenavegacion{
    grid-area: pa;
    display: flex;

    .crenavegacion__titulo{
        font-size: $titulo;
        font-family:'Oswald', sans-serif;
        padding-left: 30px;
        padding-top: 10px;
        line-height: 90px;
        text-shadow: 6px 4px 1px $colorbase;
    }
    .crediamante{
        display: flex;
        width: 200px;
        height: 100px;
        margin-top: 10px;
        align-items: center;
    }
    .crenavegacion__nav{
        display:flex;
        align-items: center;
        .crenavegacion__lista {
            display: flex;
            text-align: center;
            .lista__uno{
                font-size: $texto;
                background-image:$tricolor;
                color: black;
                padding: 8px;
                outline: solid black;
            }
            .lista__dos{
                font-size: $texto;
                background-image:$tricolor;
                color: black;
                padding: 8px;
                outline: solid black;
            }
            .lista__tres{
                font-size: $texto;
                background-image:$tricolor;
                color: black;
                padding: 8px;
                outline: solid black;
            }
            .lista__cuatro{
                font-size: $texto;
                background-image:$tricolor;
                color: black;
                padding: 8px;
                outline: solid black;
            }
        }
    }
}

.creacion__main {
    grid-area: po;
    .cre__articulo{
        display: flex;
        flex-direction: column;
        background-color: $colorbase;
        .cre__div {
            display: flex;
            flex-direction: column;
            align-items: center;
            .cre__divh2 {
                display: flex;
                justify-content: center;
                font-size: 40px;
                color: #ffffff;
                text-shadow: 3px 3px 3px black;
                border-bottom:solid #ffffff
            }
            .cre__divh2:hover {
                display: flex;
                justify-content: center;
                font-size: 40px;
                background-color: rgba(121, 110, 92, 0.818);
                color: $colorbase;
                text-shadow: 3px 3px 3px rgb(0, 0, 0);
            }
            .cre__divp{
                display: flex;
                text-align: center;
                font-size: 26px;
                font-family: 'Courier New', Courier, monospace;
            }

            .video{
                height: 30rem;
                width: 80rem;
                border: solid 30px #ffffff
            }

        }
        .cre__div2 {
            .cre_divh3 {
                display: flex;
                justify-content: center;
                font-size: 40px;
            }
            .cre__div3{
                display: flex;
                    .div_1{
                        display:flex;
                        text-align: center;
                        .cre__divp2{
                            font-family: 'Courier New', Courier, monospace;
                            font-size: 20px;
                        }
                        .cre__ul{
                            display: flex;
                            flex-direction: column;
                            justify-content: stretch;
                            font-family: 'Courier New', Courier, monospace;
                            font-size: 20px;
                        }
                    }
                    .div_2{
                        display: flex;
                        text-align: center;
                        .cre__ol{
                            font-family: 'Courier New', Courier, monospace;
                            font-size: 20px;
                        }
                        .cre__olp{
                            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                            font-size: 25px;
                        }
                    }
            }
        }
    }


}

.cre__footer {
    grid-area: pi;
    background-color: $colorbase;
    margin-top: 10px;
    address {
        display: flex;
        background-color:$colorbase;
        .lista__foo{
            background-color:$colorbase;
            display: flex;
            justify-content: center;
            flex-direction: column;
            .lista__b {
                background-color:$colorbase;
                font-family: 'Courier New', Courier, monospace;
                font-size: 23px;
            }
            .lista__fooli{
                background-color:$colorbase;
                display: flex;
                text-align: center;
                font-family: bold;
                font-size: 20px;
                .lista__a {
                    background-color:$colorbase;
                    color: #ffffff;
                    text-shadow: 3px 3px 3px black;
                }
            }
        }
        .divfoo {
            background-color:$colorbase;
            .lista__foo{
                background-color:$colorbase;
                display: flex;
                justify-content: center;
                flex-direction: column;
                .lista__b {
                    background-color:$colorbase;
                    font-family: 'Courier New', Courier, monospace;
                    font-size: 23px;
                }
                .lista__fooli{
                    background-color:$colorbase;
                    display: flex;
                    text-align: center;
                    font-family: bold;
                    font-size: 20px;
                    .lista__a {
                        background-color:$colorbase;
                        color: #ffffff;
                        text-shadow: 3px 3px 3px black;
                    }
                    .lista__a {
                        background-color:$colorbase;
                        font-family: 'Courier New', Courier, monospace;
                        font-size: 23px;
                    }
                }
                
            }
        }
}
}

/*destok fist*/

@media ( max-width:1100px) {
    
    .crenavegacion{
        grid-area: pa;
        display: flex;
    
        .crenavegacion__titulo{
            font-size: ($titulo)-15;
            font-family:'Oswald', sans-serif;
            padding-left: 30px;
            padding-top: 10px; 
            text-shadow: 6px 4px 1px $colorbase;
        }
        .crediamante{
            display: none;
            width: 200px;
            height: 100px;
            margin-top: 10px;
            align-items: center;
        }
        .crenavegacion__nav{
            display:flex;
            align-items: center;
            .crenavegacion__lista {
                display: flex;
                text-align: center;
                .lista__uno{
                    font-size: ($texto)-5;
                    background-image:$tricolor;
                    color: black;
                    padding: 8px;
                    outline: solid black;
                }
                .lista__dos{
                    font-size: ($texto)-5;
                    background-image:$tricolor;
                    color: black;
                    padding: 8px;
                    outline: solid black;
                }
                .lista__tres{
                    font-size: ($texto)-5;
                    background-image:$tricolor;
                    color: black;
                    padding: 8px;
                    outline: solid black;
                }
                .lista__cuatro{
                    font-size: ($texto)-5;
                    background-image:$tricolor;
                    color: black;
                    padding: 8px;
                    outline: solid black;
                }
            }
        }
    }
    .creacion__main {
        grid-area: po;
        .cre__articulo{
            display: flex;
            flex-direction: column;
            background-color: $colorbase;
            .cre__div {
                display: flex;
                flex-direction: column;
                align-items: center;
                .cre__divh2 {
                    display: flex;
                    justify-content: center;
                    font-size: 40px;
                    color: #ffffff;
                    text-shadow: 3px 3px 3px black;
                    border-bottom:solid #ffffff
                }
                .cre__divh2:hover {
                    display: flex;
                    justify-content: center;
                    font-size: 40px;
                    background-color: rgba(121, 110, 92, 0.818);
                    color: $colorbase;
                    text-shadow: 3px 3px 3px rgb(0, 0, 0);
                }
                .cre__divp{
                    display: flex;
                    text-align: center;
                    font-size: 26px;
                    font-family: 'Courier New', Courier, monospace;
                }
    
                .video{
                    height: 30rem;
                    width: 58rem;
                    border: solid 25px #ffffff
                }
            }
        }
    }

}

@media ( max-width:920px) {
    .grilla__cre {
        display: grid;
        grid-template-rows: 150px 1fr 100px;
        grid-template-columns:1fr 1fr ;
        grid-template-areas:"pa pa"
                            "po po"
                            "pi pi";
    }
    
    .crenavegacion{
        grid-area: pa;
        display: flex;
        flex-direction: column;
    
        .crenavegacion__titulo{
            font-size: ($titulo)-15;
            font-family:'Oswald', sans-serif;
            padding-left: 30px;
            padding-top: 10px; 
            text-shadow: 6px 4px 1px $colorbase;
            margin-bottom: 13px;
        }
        .crediamante{
            position: absolute;
            display: flex;
            margin-left: 550px;
            width: 90px;
            height: 90px;
        }
        .crenavegacion__nav{
            display:flex;
            align-items: center;
            .crenavegacion__lista {
                display: flex;
                text-align: center;
                .lista__uno{
                    font-size: ($texto)-5;
                    background-image:$tricolor;
                    color: black;
                    padding: 8px;
                    outline: solid black;
                }
                .lista__dos{
                    font-size: ($texto)-5;
                    background-image:$tricolor;
                    color: black;
                    padding: 8px;
                    outline: solid black;
                }
                .lista__tres{
                    font-size: ($texto)-5;
                    background-image:$tricolor;
                    color: black;
                    padding: 8px;
                    outline: solid black;
                }
                .lista__cuatro{
                    font-size: ($texto)-5;
                    background-image:$tricolor;
                    color: black;
                    padding: 8px;
                    outline: solid black;
                }
            }
        }
    }
    .creacion__main {
        grid-area: po;
        .cre__articulo{
            display: flex;
            flex-direction: column;
            background-color: $colorbase;
            .cre__div {
                display: flex;
                flex-direction: column;
                align-items: center;
                .cre__divh2 {
                    display: flex;
                    justify-content: center;
                    font-size: 40px;
                    color: #ffffff;
                    text-shadow: 3px 3px 3px black;
                    border-bottom:solid #ffffff
                }
                .cre__divh2:hover {
                    display: flex;
                    justify-content: center;
                    font-size: 40px;
                    background-color: rgba(121, 110, 92, 0.818);
                    color: $colorbase;
                    text-shadow: 3px 3px 3px rgb(0, 0, 0);
                }
                .cre__divp{
                    display: flex;
                    text-align: center;
                    font-size: 26px;
                    font-family: 'Courier New', Courier, monospace;
                }
    
                .video{
                    height: 30rem;
                    width: 50rem;
                }
    
            }
            .cre__div2 {
                .cre_divh3 {
                    display: flex;
                    justify-content: center;
                    font-size: 30px;
                }
                .cre__div3{
                    display: flex;
                        .div_1{
                            display:flex;
                            text-align: center;
                            .cre__divp2{
                                font-family: 'Courier New', Courier, monospace;
                                font-size: 18px;
                            }
                            .cre__ul{
                                display: flex;
                                flex-direction: column;
                                justify-content: stretch;
                                font-family: 'Courier New', Courier, monospace;
                                font-size: 18px;
                            }
                        }
                        .div_2{
                            display: flex;
                            text-align: center;
                            .cre__ol{
                                font-family: 'Courier New', Courier, monospace;
                                font-size: 18px;
                            }
                            .cre__olp{
                                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                                font-size: 20px;
                            }
                        }
                }
            }
        }
    
    
    }
}

@media ( max-width:670px){
    .grilla__cre {
        display: grid;
        grid-template-rows: 150px 1fr 100px;
        grid-template-columns:1fr ;
        grid-template-areas:"pa"
                            "po"
                            "pi";
    }
    .crenavegacion{
        grid-area: pa;
        display: flex;
    
        .crenavegacion__titulo{
            font-size: $titulo;
            font-family:'Oswald', sans-serif;
            padding-left: 30px;
            padding-top: 10px;
            line-height: 90px;
            text-shadow: 6px 4px 1px $colorbase;
        }
        .crediamante{
            display: none;
        }
        .crenavegacion__nav{
            display:flex;
            align-items: center;
            margin-bottom: 5px;
            .crenavegacion__lista {
                display: flex;
                text-align: center;
                .lista__uno{
                    font-size: $texto;
                    background-image:$tricolor;
                    color: black;
                    padding: 8px;
                    outline: solid black;
                }
                .lista__dos{
                    font-size: $texto;
                    background-image:$tricolor;
                    color: black;
                    padding: 8px;
                    outline: solid black;
                }
                .lista__tres{
                    font-size: $texto;
                    background-image:$tricolor;
                    color: black;
                    padding: 8px;
                    outline: solid black;
                }
                .lista__cuatro{
                    font-size: $texto;
                    background-image:$tricolor;
                    color: black;
                    padding: 8px;
                    outline: solid black;
                }
            }
        }
    }
    .creacion__main {
        grid-area: po;
        .cre__articulo{
            display: flex;
            flex-direction: column;
            background-color: $colorbase;
            .cre__div {
                display: flex;
                flex-direction: column;
                align-items: center;
                .cre__divh2 {
                    display: flex;
                    justify-content: center;
                    font-size: 40px;
                    color: #ffffff;
                    text-shadow: 3px 3px 3px black;
                    border-bottom:solid #ffffff
                }
                .cre__divh2:hover {
                    display: flex;
                    justify-content: center;
                    font-size: 40px;
                    background-color: rgba(121, 110, 92, 0.818);
                    color: $colorbase;
                    text-shadow: 3px 3px 3px rgb(0, 0, 0);
                }
                .cre__divp{
                    display: flex;
                    text-align: center;
                    font-size: 26px;
                    font-family: 'Courier New', Courier, monospace;
                }
            }
            .cre__div2 {
                display: flex;
                flex-direction: column;
                .cre_divh3 {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    font-size: 40px;
                }
                .cre__div3{
                    display: flex;
                        .div_1{
                            display:flex;
                            text-align: center;
                            .cre__divp2{
                                font-family: 'Courier New', Courier, monospace;
                                font-size: 20px;
                            }
                            .cre__ul{
                                display: flex;
                                flex-direction: column;
                                justify-content: stretch;
                                font-family: 'Courier New', Courier, monospace;
                                font-size: 20px;
                            }
                        }
                        .div_2{
                            display: flex;
                            text-align: center;
                            .cre__ol{
                                font-family: 'Courier New', Courier, monospace;
                                font-size: 20px;
                            }
                            .cre__olp{
                                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                                font-size: 25px;
                            }
                        }
                }
            }
        }
    
    
    }
}
