.grilla__cre {
    display: grid;
    grid-template-rows: 130px 1fr 70px;
    grid-template-columns:1fr 1fr 1fr ;
    grid-template-areas:"pa pa pa"
                        "po po po"
                        "pi pi pi";
}
.cre__header{
    grid-area: pa;
    display: flex;
    .cre__div-uno{
        display: flex;
        align-items: center;
        text-align: center;
        .cre__titulo{
            font-size: $titulo;
            font-family: $antontitulo;
            text-shadow: 5px 5px 5px $colorbase;
            .cre__srl{
                color: $negro;
            }
        }
        .cre__diamante{
            display: flex;
            height: 90px;
            width: 100px;
        }
    }
    .cre__nav{
        display:flex;
        align-items: center;
        .cre__nav-ul{
            display: flex;
            text-align: center;
            .cre_link-uno{
                @include btnheader;
            }
            .cre_link-uno:hover{
                @include btnhover;
            }
            .cre_link-dos{
                @include btnheader;
            }
            .cre_link-dos:hover{
                @include btnhover;
            }
            .cre_link-tres{
                @include btnheader;
                border-bottom: solid 4px black;
            }
            .cre_link-tres:hover{
                @include btnhover;
            }
            .cre_link-cuatro{
                @include btnheader;
            }
            .cre_link-cuatro:hover{
                @include btnhover;
            }
        }
    }

}

.cre__main{
    grid-area: po;
}

.cre__footer{
    grid-area: pi;
    background-color: $colorbase;
    .cre__add{
        background-color:$colorbase;
        display: flex;
        .cre__div{
            display: flex;
            text-align: center;
            .cre__ul1{
                display: flex;
                padding-top: 8px;
                .cre__parrafo1{
                    @include fottitulo;
                }
                .cre_lista{
                    @include fotlista;
                    .cre__links{
                        @include fotlink;
                    }
                }
            }
        }
        .cre__div2{
            display: flex;
            text-align: center;
            .cre__ul2{
                display: flex;
                padding-top: 8px;
                .cre__parrafo2{
                    @include fottitulo;
                }
                .cre_lista{
                    @include fotlista;
                    .cre__links{
                        @include fotlink;
                    }
                }
            }
        }
    }
}