/*CODIGOS DEL HEADER*/
@mixin btnheader {
    font-size: $texto;
    font-family: $roboto400;
    color: black;
    border-bottom: solid 4px $colorbase;
}

@mixin btnhover {
    background:$colorbase;
    padding: 6px;
    color: rgb(0, 0, 0);
    border-radius: 6px;
    transition: .3s;
}

@mixin btncompra {
    width:100px;
    height:35px;
    color: $colorbase;
    background-color: $negro;
    outline: solid 4px $colorbase;
    font-family: $roboto400;
    border-radius: 5px;
}

/*CODIGOS DEL FOOTERR*/
@mixin fottitulo{
    display: flex;
    justify-content: center;
    font-family: $roboto400;
    font-size: ($texto)-8px;
}

@mixin fotlista{
    display: flex;
    justify-content: space-around;
    font-family: $roboto400;
    padding-top: 12px;
    font-size: ($texto)-10px;
    color: $negro;
}
@mixin fotlink{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px $negro;
    padding-left: 10px;
    padding-right: 10px;
}