.sobre__grilla {
    display: grid;
    grid-template-rows: 130px 1000px 70px ;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:"nip nip"
                        "nop nop"
                        "nup nup";
}

.nos__header{
    grid-area: nip;
    display: flex;
    .nos__div{
        display: flex;
        align-items: center;
        text-align: center;
        .nos__titulo{
            font-size: $titulo;
            font-family: $antontitulo;
            text-shadow: 5px 5px 5px $colorbase;
            .nos__srl{
                color: $negro;
            }
        }
        .nos__diamante{
            display: flex;
            height: 90px;
            width: 100px;
        }
    }
    .nos__nav{
        display:flex;
        align-items: center;
        .nos__nav-ul{
            display: flex;
            text-align: center;
            .link--uno{
                @include btnheader;
            }
            .link--uno:hover{
                @include btnhover;
            }
            .link--dos{
                @include btnheader;
                border-bottom: solid 4px black;
            }
            .link--dos:hover{
                @include btnhover;
            }
            .link--tres{
                @include btnheader;
            }
            .link--tres:hover{
                @include btnhover;
            }
            .link--cuatro{
                @include btnheader;
            }
            .link--cuatro:hover{
                @include btnhover;
            }      
        }
    }
}

.nos__main {
    grid-area: nop;
    background-color: $colorbase;
    background-image: url( ../asset/nosotros.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}

.nos__footer{
    grid-area: nup;
    background-color: $colorbase;
    .nos__add{
        background-color:$colorbase;
        display: flex;
        .nos__div-a{
            display: flex;
            text-align: center;
            .nos__ul-a{
                display: flex;
                padding-top: 8px;
                .nos__titulo{
                    @include fottitulo;
                }
                .nos__lista{
                    @include fotlista;
                    .nos--links{
                        @include fotlink;
                    }
                }
            }
        }
        .nos__div-b{
            display: flex;
            text-align: center;
            .nos__ul-b{
                display: flex;
                padding-top: 8px;
                .nos__titulo{
                    @include fottitulo;
                }
                .nos__lista{
                    @include fotlista;
                    .nos--links{
                        @include fotlink;
                    }
                }
            }
        }
    }
}
    /*DESKTOP FIRST NOSOTROS*/