.sobre__grilla {
    display: grid;
    grid-template-rows: 130px 1000px 70px ;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:"nip nip"
                        "nop nop"
                        "nup nup";
}

.nos__header{
    grid-area: nip;
    display: flex;
    .nos__div{
        @include indtitulo;
        margin-left: 15px;
        .nos__titulo{
            font-size: $titulo;
            font-family: $antontitulo;
            text-shadow: 5px 5px 5px $colorbase;
            .nos__srl{
                color: $negro;
            }
        }
        .nos__diamante{
            @include diamante;
        }
    }
    .nos__nav{
        display:flex;
        align-items: center;
        .nos__nav-ul{
            display: flex;
            text-align: center;
            .link--uno{
                @include btnheader;
            }
            .link--uno:hover{
                @include btnhover;
            }
            .link--dos{
                @include btnheader;
                border-bottom: solid 4px black;
            }
            .link--dos:hover{
                @include btnhover;
            }
            .link--tres{
                @include btnheader;
            }
            .link--tres:hover{
                @include btnhover;
            }
            .link--cuatro{
                @include btnheader;
            }
            .link--cuatro:hover{
                @include btnhover;
            }      
        }
    }
}

.nos__main {
    grid-area: nop;
    .nos__h2{
        display:flex;
        text-align: center;
        font-size: 35px;
        background-color: $colorbase;
        font-family: $roboto400;
        justify-content: center;
    }
    .nos__section{
        margin-bottom: 25px ;
        margin-top: 25px;
        background-color: white;
        width: 90%;
        margin-left: 60px;
        .nos__p{
            background-color: $colorbase;
            display: flex;
            font-family: $roboto400;
            font-size: ($texto)-5px;
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: center;
        }
    }
}

.nos__footer{
    grid-area: nup;
    padding-top: 8px;
    padding-bottom: 8px;
    @include foo;
    .nos__add {
        @include add;
        .nos__div-a{
            display: flex;
            align-items: center;
            .nos__tituloa{
                @include fottitulo;
            }
            .nos--link{
                @include link;
                .nos_link-logo{
                    @include logo;
                }
            }
        }
        .nos__div-b{
            display: flex;
            align-items: center;
            .nos__titulob{
                @include fottitulo;
                }
            .nos--link{
                @include link;
                .nos_link-logo{
                    @include logo;
                }
            }
        }
    }
}
    /*DESKTOP FIRST NOSOTROS*/