.grillaprodu {
    width: 100%;
    display: grid;
    grid-template-rows: 130px 1fr 1fr 1fr 1fr 1fr 1fr 70px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:"pe pe pe"
                        "main main main"
                        "main main main"
                        "main main main"
                        "main main main"
                        "main main main"
                        "main main main"
                        "footer footer footer";

}

.pronavegacion{
    grid-area:pe;
    display: flex;
    .pro__div{
        display: flex;
        align-items: center;
        text-align: center;
        .pronavegacion__titulo{
            font-size: $titulo;
            font-family: $antontitulo;
            text-shadow: 5px 5px 5px $colorbase;
            .srl__pronav{
                color: $negro;
            }
        }
        .pro__diamante{
            display: flex;
            height: 90px;
            width: 100px;
        }
    }

    .pronavegacion__nav{
        display:flex;
        align-items: center;

        .pronavegacion__lista{
            display: flex;
            text-align: center;

            .plista__uno{
                @include btnheader;
                border-bottom: solid 4px black;
            }
            .plista__uno:hover {
                @include btnhover;
            }
            .plista__dos{
                @include btnheader;
            }
            .plista__dos:hover{
                @include btnhover;
            }
            .plista__tres{
                @include btnheader;
            }
            .plista__tres:hover{
                @include btnhover;
            }
            .plista__cuatro{
                @include btnheader;
            }
            .plista__cuatro:hover{
                @include btnhover;
            }
        }
    }
}
.pro__main {
    grid-area:main;
    .prod__subt {
        display: flex;
        margin-top: 10px;
        justify-content: center;
        font-family:$roboto400;
        font-size: $subtitulos;
        background-color:$colorbase;
        color: $negro;
            /*Animacion */
            animation-name: cambiarcolor ;
            animation-duration: 5s;
            animation-iteration-count: 2;
            animation-timing-function: linear;
            @keyframes cambiarcolor {
        
                0% {
                    color: rgb(0, 0, 0);
                    text-shadow: 1px 1px 1px #EDDEC9;
                    transform: translateY(20px , 20px);
                }
                30% {
                    color: #EDDEC9;
                    text-shadow: 2px 2px 1px rgb(0, 0, 0);
                    transform: translateY(30px, 30px);
                }
                50% {
                    color: rgb(0, 0, 0)#EDDEC9;
                    text-shadow: 3px 3px 1px #b98f54;
                    transform: translateY(40px, 40px) ;
                }
                70% {
                    color: rgb(0, 0, 0)#EDDEC9;
                    text-shadow: 3px 3px 1px #b98f54;
                    transform: translateY(40px, 40px) ;
                }
            
                100% {
                    color: #000000;
                    text-shadow: 2px 2px 1px #fefefe;
                    transform: translateY(50px , 50px) ;
                } 
        
            }
         }
    .imgp{
        display: flex;
        justify-content: baseline;
        .div__prod {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            .imgpe {
                max-width: 300px;
                height: 300px;
                border: .3em outset #EDDEC9;
                padding: .6rem;
                background-image:$tricolor;
                margin: 1rem;
            }
            .div__pa{
                font-size: 1.5em;
                font-family: $scriptletras;
                font-weight: 700;
                margin-bottom: 10px;
            }
            .boton{
                @include btncompra;
            }
            .boton:hover{
                @include btncompra;
                color: $negro;
                background-color: $colorbase;
            }
        }
    }
}

.pro__footer{
    grid-area:footer;
    background-color: $colorbase;
    margin-top: 10px;
    .pro__add{
        background-color:$colorbase;
        display: flex;
        .pro__div-a{
            display: flex;
            text-align: center;
            .pro__ul-a{
                display: flex;
                padding-top: 8px;
                .pro__titulo-a{
                    @include fottitulo;
                }
                .pro__list{
                    @include fotlista;
                    .pro--link{
                        @include fotlink;
                    }
                }
            }
        }
        .pro__div-b{
            display: flex;
            text-align: center;
            .pro__ul-b{
                display: flex;
                padding-top: 8px;
                .pro__titulo-b{
                    @include fottitulo;
                }
                .pro__list{
                    @include fotlista;
                    .pro--link{
                        @include fotlink;
                    }
                }
            }
        }
    }
}

/*DESKTOP FIRST PRODUCTOS*/